/* Colors */

:root {
  --dark-gray0: #000000;
  --dark-gray1: #1e1e1e;
  --dark-gray2: #252525;
  --dark-gray3: #333333;
  --dark-gray4: #3c3c3c;
  --light-gray3: #9e9e9e;
  --light-gray2: #a9a9a9;
  --light-gray1: #f8f8f8;
  --light-gray0: #ffffff;
}


/* Base style */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--light-gray1);
  background-color: var(--dark-gray1);
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
