/* Colors */

:root {
  --gray-700: hsl(0, 0%, 5%);
  --gray-650: hsl(0, 0%, 10%);
  --gray-600: hsl(0, 0%, 15%);
  --gray-500: hsl(0, 0%, 20%);
  --gray-400: hsl(0, 0%, 24%);
  --gray-350: hsl(0, 0%, 50%);
  --gray-300: hsl(0, 0%, 62%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 97%);
  --blue-200: hsl(210, 70%, 30%);
  --blue-100: hsl(210, 70%, 60%);
}

/* Base style */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--gray-100);
  background-color: var(--gray-700);
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
