@import "./base.css";

/* Global variables */

:root {
  --topNav-height: 3.5rem;
  --sideNav-width: 3.5rem;
  --sidePanel-width: 20rem;
  --page-min-height: 8rem;
}

/* Text */

body {
  font-weight: 300;
}

h2 {
  font-size: 1.3em;
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
}

/* Buttons */

.button,
.icon-button {
  --button-border-radius: 0.5rem;
  --button-color: var(--gray-300);
  --button-background-color: transparent;
  --button-border-color: var(--gray-300);
  --button-color-hover: var(--gray-100);
  --button-background-color-hover: transparent;
  --button-border-color-hover: var(--gray-100);
  --button-color-active: var(--gray-100);
  --button-background-color-active: transparent;
  --button-border-color-active: var(--gray-100);
  --button-color-focus-visible: var(--gray-100);
  --button-background-color-focus-visible: transparent;
  --button-border-color-focus-visible: var(--blue-100);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  border-radius: var(--button-border-radius);
  border: 2px solid var(--button-border-color);
  outline: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  transition-duration: 150ms;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}

.button:hover,
.icon-button:hover {
  color: var(--button-color-hover);
  background-color: var(--button-background-color-hover);
  border-color: var(--button-border-color-hover);
}

.button:focus-visible,
.icon-button:focus-visible {
  color: var(--button-color-focus-visible);
  background-color: var(--button-background-color-focus-visible);
  border-color: var(--button-border-color-focus-visible);
}

.button:active,
.icon-button:active {
  color: var(--button-color-active);
  background-color: var(--button-background-color-active);
  border-color: var(--button-border-color-active);
}

.icon-button {
  --button-border-color: transparent;
  --button-border-color-hover: transparent;
  --button-border-color-active: transparent;
  padding: 0.25rem;
  line-height: 0;
  aspect-ratio: 1 / 1;
}

.icon-button:focus-visible {
  border: 2px solid var(--button-border-color-focus-visible);
}

.icon-button svg {
  width: 2rem;
  height: 2rem;
}

/* Dropdown */

.dropdownMenu {
  position: absolute;
  z-index: 100;
  color: var(--gray-300);
  background-color: var(--gray-500);
  border: 0.15rem solid var(--gray-400);
  border-radius: 0.25rem;
  white-space: nowrap;
  padding: 0.25rem;
}

.dropdownMenu li {
  display: flex;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.dropdownMenu li:hover {
  background-color: var(--blue-200);
}

.dropdownMenu li.selected {
  color: var(--gray-100);
}

/* Forms */

.input {
  outline: none;
  color: var(--gray-100);
  background-color: var(--gray-650);
  border: 1px solid var(--gray-500);
  border-radius: 0.25rem;
  padding: 0.25rem;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}

.input:focus-visible {
  border-color: var(--blue-100);
}

.wrongInput {
  border-color: var(--color-error);
}

/* Scroll bars */

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-350) var(--gray-500);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-500);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-350);
}
